# Java
*.class
*.jar
*.war
*.ear
target/
*.iml

# Maven wrapper download cache
.mvn/wrapper/maven-wrapper.jar

# Spring Boot
*.log
logs/

# IDE
.idea/
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env
.env
